@font-face {
    font-family: Eubergine;
    src: url(assets/fonts/Eubergine\ Font.ttf);
}

:root {
    --tarot-card-width: 300px;
    --tarot-card-height: 528px;
    --num-cards: 9;
    --card-horizontal-space: 100px;
}

body {
    font-family: Eubergine;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(174, 133, 220);
}

.navbar-brand {
    padding-left: 10px;
}

.navbar-brand img {
    height: 30px;
}

.card-container {
    position: relative;
    height: 500px;
    /* width: calc(var(--card-width) * (var(--num-cards) / 2) + var(--card-horizontal-space)); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a a a"
        "a a a"
        "a a a";
}

.card-pos-a {
    grid-area: a;
}

.card-pos-b {
    grid-area: b;
}

.card-pos-c {
    grid-area: c;
}

.card-pos-d {
    grid-area: d;
}

.card-pos-e {
    grid-area: e;
}

.card-pos-f {
    grid-area: f;
}

.card-pos-g {
    grid-area: g;
}

.card-pos-h {
    grid-area: h;
}

.card-pos-i {
    grid-area: i;
}

.tarot-card {
    position: absolute;
    height: auto;
    width: 10%;
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
    background-color: black;
    border: 0px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-inner.flip-it {
    transform: rotateY(180deg);
}

.tarot-card.shuffle-left {
    transform: translateX(200px) translateY(10px);
}

.tarot-card.shuffle-right {
    transform: translateX(-200px) translateY(-10px);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot {
    border-style: solid;
    border-width: 2px;
    background-color: rgba(174, 133, 220, 0.884);
    color: black;
    text-align: center;
    min-height: 200px;
    /* padding-right: 5px; */
    border-radius: 20px;
    margin-top: 100px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .chatbot {
        margin-top: 0px;
    }

    .tarot-card {}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-brand img {
        height: 50px;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    ...
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    ...
}