body {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(165, 65, 228) 100%);
}

.masthead-text {
    font-family: Unbounded;
    padding-left: 30px;
    font-size: 2rem;
    padding-right: 30px;
    padding-bottom: 30px;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    flex-direction: column; /* Add this line to align items vertically */

}

.masthead-container {
    background-color: rgba(242, 231, 231, 0.069);
    border-radius: 10px;
    padding: 20px;
    height: calc(90vh - 30px);

}

.page-header-container {
    justify-content: space-around;
}

#left-container {
    margin-right: -5px;
}

#right-container {
    margin-left: -5px;

}

.text-float-left {
    float: left;
}

.text-float-right {
    float: right;
}

.text-white {
    color: white;
}
