.masthead-text {
    font-family: Unbounded;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-align: center;
    flex-direction: column; /* Add this line to align items vertically */

}

.masthead-heading h1 {
    margin-bottom: 10px; /* Optional: add some spacing between heading and subheading */
}

.text-float-left {
    float: left;
}

.text-float-right {
    float: right;
}

.text-100 {
    font-size: 100px;
}

.text-80 {
    font-size: 80px;
}

.text-60 {
    font-size: 60px;
}

.text-white {
    color: white;
}
