:root {
    --tarot-card-width: 300px;
    --tarot-card-height: 528px;
    --num-cards: 9;
    --card-horizontal-space: 100px;
}

main {
    height: 55%;
    display: flex;
    justify-content: center;
}

/* body {
    height: 100vh;
} */

.card-container {
    position: relative;
    height: 600px;
    width: calc(var(--card-width) * (var(--num-cards) / 2) + var(--card-horizontal-space));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a a a"
        "a a a"
        "a a a";
    align-items: center;
    justify-items: center;
}

.card-pos-a {
    grid-area: a;
}

.card-pos-b {
    grid-area: b;
}

.card-pos-c {
    grid-area: c;
}

.card-pos-d {
    grid-area: d;
}

.card-pos-e {
    grid-area: e;
}

.card-pos-f {
    grid-area: f;
}

.card-pos-g {
    grid-area: g;
}

.card-pos-h {
    grid-area: h;
}

.card-pos-i {
    grid-area: i;
}


.tarot-card {
    position: absolute;
    height: auto;
    width: 15%;
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
    background-color: black;
    border: 0px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-inner.flip-it {
    transform: rotateY(180deg);
}

.tarot-card.shuffle-left {
    transform: translateX(200px) translateY(10px);
}

.tarot-card.shuffle-right {
    transform: translateX(-200px) translateY(-10px);
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbot {
    background-color: rgba(242, 231, 231, 0.2);
    position: fixed;
    bottom: 0;
    color: black;
    text-align: center;
    border-radius: 10px;
    margin-right: 5px;
}

.chatbot .card-header {
    height: 8%;
}

.chatbot .card-body {
    overflow-y: scroll;
    height: 60vh;
    width: 100%;
}

#typingGIF {
    height: 50px;
    float: left;
    padding-left: 10px;
}

.userText {
    text-align: right;
    background-color: rgba(245, 222, 179, 0.547);
    border-radius: 40px;
    margin-left: 20%;

}

.gptText {
    text-align: left;
    background-color: rgba(245, 179, 224, 0.547);
    border-radius: 40px;
    margin-right: 20%;
}

p {
    padding: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f100;
}
::-webkit-scrollbar-thumb {
    background: #cab0cc62;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form-control {
    border: 1px solid black;
    border-radius: 5px;
}

.input-box-btn {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .chatbot {
        margin-top: 0px;
    }

    /* .tarot-card {

    } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}